:root {
  --color-primary: #547792;
  --color-secondary: #94B4C1;
  --color-tertiary: #EAE0CF;
  --color-bg: #ffffff;
  --color-text: #020119;
}

[data-theme='dark'] {
  --color-primary: #375a7f;
  --color-bg: #222222;
  --color-text: #dddddd;
}

