.Posts{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .PostsPost{
    width: 90%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    border: 1px solid var(--color-primary);

    .PostsPostTitle{
      width: 80%;
      margin: 20px 50px 5px 50px;
      font-size: 3rem;
    }

    .PostsPostAuthor{
      margin: 5px 0 10px 50px;
      font-size: 1.5rem;
    }

    .PostsPostBody{
      margin-left: 50px;
      font-size: 2rem;
      border-top: 1px solid var(--color-primary);
      padding-top: 10px;
      width: 90%;
    }

    .PostsPostLink{
      margin-left: 50px;
      padding: 10px 0;
      font-size: 1.2rem;
    }
  }

  .PostsComments{
    width: 90%;
    display: flex;
    flex-direction: column;

    .PostsCommentsCount{
      font-size: 1.5rem;
      display: flex;
      justify-content: end;
      margin-right: 20px;
    }

    .PostsCommentsComment{
      margin: 12px 0 12px 50px;
      padding: 15px 25px;
      display: flex;
      flex-direction: row;
      width: 90%;
      flex-wrap: wrap;
      border-radius: 10px;
      border-left: 1px solid var(--color-primary);

      .PostsCommentsCommentTitle{
        font-size: 2rem;
        margin: 0 10px 0 0;
      }
      .PostsCommentsCommentEmail{
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .PostsCommentsCommentBody{
        font-size: 1.7rem;
        margin: 10px 0 0 0;
        width: 100%;
      }
    }
  }
}
