*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #e7e7e7;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
form{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

textarea{
    width: 100%;
    height: 120px;
    margin-bottom: 40px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 40px;
    background-color: #e7e7e7;
}

th,td{
    border: 1px solid black;
    text-align: center;

}
table{
    border-collapse: collapse;
    width: 60%;
}

img{
    max-width: 40%;
    margin:20px;
}

p{
    max-width: 60%;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
}